body{
    margin: 0px;
}
.container-fluid{
    padding: 0px;
}
.back{
    width: 100vw;
    height: 600px;
    padding: 0px;
}
#service-img{
    width: 100vw;
    height: 300px;
    padding: 0px;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 .white{
     color: white;
 } 
 .about{
     padding-left: 80px;
     margin: 40px;
 }
 .col-md-3{
     width: 90%;
 }
 #contact-img{
    width: 100vw;
    height: 300px;
    padding: 0px;
 }
 footer{
     margin: 50px;
     padding: 20px;
 }
 .what{
     margin: 50px;
 }
 .portfolio{
     padding: 20px;
     margin: 50px;
 }
 .centered-contact {
     color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }